<nav style="margin-bottom: 10px">
    <div class="title">Art Blocks Tester</div>
    <div class="dropdown">
      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pieces
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="example">Example</a>
      </div>
    </div>
    </div>
</nav>
